@page "/learnBlazor/parentComponent"

<h3>ParentChild Relation</h3>

<_ChildComponent OnButtonClick="ShowMessage" Title="This title is passed from the ParentComponent">
    
    <ChildContent>
        Writing random text between the child components starting and closing tags in the parent.
    </ChildContent>
    <DangerChildContent>Danger child fragment from the parent!</DangerChildContent>

</_ChildComponent>

<p><b>@messageText</b></p>

@* <_ChildComponent Title="This is the second title">    

</_ChildComponent> *@

@code {
    // creating a variable for holding the message 
    public string messageText = "";

    // creating a method to show that message
    private void ShowMessage()
    {
        messageText = "Corona button clicked from child component!";
    }

}
