@page "/learnBlazor/parentComponent"

<h3>ParentChild Relation</h3>

<_ChildComponent Title="This title is passed from the ParentComponent">
    
    Writing random text between the child components starting and closing tags in the parent

</_ChildComponent>

<_ChildComponent Title="This is the second title">

    

</_ChildComponent>

@code {

}
