<div>
    <h4 class="text-primary pt-3">Another Child Component</h4>
    @* removing separate attributes like: placeholder="@Placeholder" required="@Required" maxlength="@MaxLength" and replacing it with just attributes-tag *@
    <input id="nametemp" @attributes="InputAttributes" />
</div>

@code {
    // [Parameter]
    // public string Placeholder { get; set; } = "Initial placeholder";

    // [Parameter]
    // public string Required { get; set; } = "required";

    // [Parameter]
    // public string MaxLength { get; set; } = "10";

    // Dictionary brackets will include key and value. In this case, key will be string and value will be object.
    // Initializing the dictionary directly
    [Parameter]
    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>()
    {
        // adding all the attributes here with the default values.
        { "required", "required" },
        { "placeholder", "Initial placeholder" },
        { "maxlength", 10 },

    };
}
