
<div>
    @* this child components title will be retrieved from the parent component when invoked *@
    <div class="alert alert-info">@Title</div>

    @* creating a div to assign a spot for eventual texts rendered from the parent component *@
    <div class="alert alert-success">
        @if (DangerChildContent != null)
        {
            <span>@DangerChildContent</span>
        }
        else
        {
            @if (ChildContent != null)
            {
                <span>@ChildContent</span>
            }
            else
            {
                <span>Hello from empty Rendered Fragment</span>
            }
        }
    </div>

    @* trying to invoke a method from the parent component *@
    <button class="btn btn-danger" @onclick="OnButtonClick">Button to be clicked </button>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    // creating a parameter to allow random texts to be written between the called child components opening and closing tags in the parent component
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    // creating another render fragment
    [Parameter]
    public RenderFragment DangerChildContent { get; set; }

    [Parameter]
    public EventCallback OnButtonClick { get; set; }
}